.data__mouse {
  position: absolute;
  bottom: 1vw;
  right: 8vw;
  margin: 0;
  transform: rotate(90deg);
  font-size: 12vw;
}

.data__mouse_active {
  transform: rotate(-90deg);
}

.data__mouse_screen-768 {
  bottom: 28%;
  right: 5vw;
  transform: rotate(0deg);
  font-size: 8vw;
}

